body {
    font-family: arial;
}

.ui-progressbar {
    position: relative;
}

.progress-labelFile {
    position: absolute;
    left: 50%;
    top: 4px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
    color: #aaa;
}

.progress-labelFiles {
    position: absolute;
    left: 50%;
    top: 4px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
    color: #aaa;
}

.component {
    border-style: groove;
    border-width: 2px;
    width: 800px;
    background-color: lightgrey;
    position: relative;
    padding: 4px;
}
